<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>CreditPage</title>

</head>
<body>
<div>
    <a href="/credit/new" method="get">Yeni muqavile</a>
    <a href="/client/new" >Yeni mushteri</a>
    <a href="/client/">Musteriler</a>
</div>
<br>
    <table border="1" width="1200">
    <tr>
        <th>Kredit Id</th>
        <th width="170">Ad</th>
        <th width="220">Soyad</th>
        <th width="170">Ata adi:</th>
        <th>Kredit Meblegi</th>
        <th>Esas mebleg</th>
        <th>Faiz Meblegi</th>
        <th>Cerime</th>
        <th>Ayliq Odenish</th>
    </tr>
    <tr th:each="credit:${credits}">
        <td th:text="${credit.id}">
        <td th:text="${credit.client.ad}">
        <td th:text="${credit.client.soyad}">
        <td th:text="${credit.client.ataAdi}">
        <td th:text="${credit.kreditMeblegi}">
        <td th:text="${credit.anaMebleg}">
        <td th:text="${credit.faizMeblegi}">
        <td th:text="${credit.cerimeMeblegi}">
        <td th:text="${credit.ayligOdenis}">


    </tr>
    </table>

</body>
</html>